.App {
  margin: 100px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #222222;
  text-align: center;
}
.buttons-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.buttons-group button {
  margin: 10px;
}
p {
  color: #ffffff;
  font-size: 3rem;
}

