body {
    background-color: #222222;
    color: #EAEDF0;
    text-align: center;
}
.container {
    background-color: #333333;
}
.box {
    border: 1px solid black;
    padding: 10px 0px;
}
.box:hover {
    background-color:;
}
div.image {
    width: 75px;
    margin: 0 auto;
}
img {
    width: 100%;
}