body {
    background-color: #ffe44a;
}

.frame {
    background-color: #4fff58;
    width: 400px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile-card {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile {
    float: left;
    width: 66%;
    height: 100%;
    text-align: center;
}

.stats {
    float: left;
    height: 300px;
}

.stats .box {
    width: 102px;
    height: calc(300px / 3);
    text-align: center;
    padding-top: 10px;
}

.stats .box span{
    display: block;
    sdf
}