.userDP {
  padding-right: 5px;
}
img {
  border-radius: 50%;
}
.userName {
  padding-right: 5px;
  font-weight: bold;
}
.commentCard {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid black;
  font-size: 13px;
  padding: 4px 12px;
} 
.content {
  padding: 8px 10px;
  background-color: #e9ebee;
  border-radius: 20px;
}
.interactives {
  padding: 0px 10px;
}