html, body {
    background-color: #ffc1c1;
    margin: 0px;
    padding: 0px;
}

.hamburger-menu {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
}

.line {
    width: 100px;
    height: 10px;
    background-color: #ffffff;
    margin: 10px 0px;
}